body, h2, table {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    padding: 1%;
}

.data-table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}